.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header {
    background-color: aqua;
    height: 10vh;
}

#canvas{
    border: 5px solid black;
    display: flex;
    flex-wrap: wrap;
    width: 404px;
    max-height: 404px;
}

.pixel {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: white;
    height: 100px;
    width: 100px;
}

.footer {
    display: flex;
    background-color: burlywood;
    height: 10vh;
}

.red {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: red;
    height: 100px;
    width: 100px;
}
.yellow {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: yellow;
    height: 100px;
    width: 100px;
}
.orchid {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: orchid;
    height: 100px;
    width: 100px;
}
.blue {
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    background-color: blue;
    height: 100px;
    width: 100px;
}

.palletteBox{
    height: 100%;
    width: 40px;
}