.header {
    background-color: aqua;
    height: 10vh;
}

.main {
    display: table;
    border-spacing: 1px;
    height: 80vh;
    background-color: black;
    border: 5px solid black;
}

.canvas{
    display: table-row;
}

.pixel {
    display: table-cell;
    background-color: white;
    width: 40px;
    height: 40px;
}

.footer {
    background-color: burlywood;
    height: 10vh;
}

.red {
    background-color: red;
    width: 2em;
    height: 2em;
    /* border: 1px solid black; */
}
.yellow {
    background-color: yellow;
    width: 2em;
    height: 2em;
    /* border: 1px solid black; */
}
.green {
    background-color: green;
    width: 2em;
    height: 2em;
    /* border: 1px solid black; */
}
.blue {
    background-color: blue;
    width: 2em;
    height: 2em;
    /* border: 1px solid black; */
}

.palletteBox {
    border: 1px solid black;
}